* {
  background-color: bisque;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 2rem;
}

.toggle {
  background-color: white;
  border-color: black;
  align-items: center;
}

.booking {
  background-color: black;
  color: white;
  align-items: center;
}

.socMed {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

button {
  width: 320px;
  appearance: none;
  border: none;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 9999px;
  background-color: antiquewhite;
}

button:hover {
  background-color: rgb(rgb(220, 249, 152));
  color: black;

}
